
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 4em;

  h3 {
    text-align: center;
    padding: 2em;
    color: #424242;
    letter-spacing: 0.5em;
    margin-left: 10%;
    font-size: 2em;
  }
}

.body {
  margin: 2em;
}


.choose-mode {
  background-color: #424242;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  margin-left: -2em;
  margin-right: -2em;
  margin-top: -2em;
  padding: 0 2em;
  height: 3em;

  p {
    flex: 1;
    text-transform: uppercase;
  }

  .p-element {
    width: 4em;
    margin: 2em 0;
    flex: 1;
  }
}

.mat-raised-button {
  background-color: white;
  color: #424242;
  font-weight: bolder;
}

.mat-button {
  font-weight: bolder;
}
